/* MENU TAB CSS CODE*/
* {
    box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 30%;
    min-height: 30%;
    font-family: lexend, sans-serif;
}

/*      =================     TOP BAR ONLY    ==============   */
.top_bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 65px;
    z-index: 10;
    padding: 10px 0;
    border-bottom: 1px solid rgb(158, 158, 158);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2); 
    background-color: white;
}

.logo {
   transform: scale(.4);
   position: relative;
   left: -10px;
   top: 1px;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.name {
    position: relative;
    left: -36%;
    font-size: 30px;             
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;         
}

.navTop {
    position: fixed;
    right: 12%;
    height: 45px;
    width: 330px;
    margin-right: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: black; /* blue rgb(24, 78, 131) */
}

.menu:hover {
    transform: scale(1.1);
}

.locations:hover {
    transform: scale(1.1); 
}

.sign_in:hover {
    transform: scale(1.1); 
}

.cart {
    display: flex;
    height: 48px;
    width: 48px;
    margin-right: 84px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart:hover {
    transform: scale(1.1);
    transition: all .1s ease-in;
}

.cartAmount {
    position: absolute;
    right: 5.2%;
    top: 3%;
    color: white;
    background-color: rgb(206, 39, 39);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    z-index: 20;
    padding-top: 2px;
    padding-left: 7px;
    display: none;
}
 /*      =================     TOP BAR ONLY    ==============   */



/*       =================    MAIN BODY   =================     */
h1 {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    color: rgb(213, 27, 27); /* blue rgb(24, 78, 131) */
}

.itemTabs {
    position: absolute;
    top: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(213, 27, 27);
    color: white;
    font-size: 18px;
}
        .itemTabs a:not(:first-child){
            margin-left: 70px;
        }

        .itemTabs a:hover {
            text-decoration: underline;
        }
     
main {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 385%;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 12px; 
    border: 4px solid rgb(213, 27, 27);
}
                    
.popupOrder {
    display: flex;
    height: 54px;
    width: 190px;
    border: 3px solid rgb(213, 27, 27);
    border-radius: 20px;
    background-color: rgb(213, 27, 27);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    color: white;
    opacity: 0;
}

.popupOrder:hover {
    border: 3px solid rgb(173, 26, 26);
    background-color: rgb(173, 26, 26);
}

.american {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
    .american h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
        font-size: 30px;
        z-index: 2;
    }
    .burgerOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;
        margin-top: -30px;
    }
    .burgerOrder:hover {
        transform: scale(1.1);
    }
    .burgerOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .burgerOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
        transform: translateY(-20px);
    }
    .burgerOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
    }         
    .ribsOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: -90px;
        transition: all .2s ease-out;
    }
    .ribsOrder:hover {
        transform: scale(1.1);
    }
    .ribsOrder:hover .popupOrder{
        transform: translateY(-20px);
        opacity: 1;
    }
    .ribsOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
    }
    .ribsOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
    }
    .burgerOrder img {
        width: 270px;
        height: auto;
    }
    img[src*="rib"] {
        width: 320px;
        height: auto;
    }
                                                        #asian {  /*  in page asian link  */
                                                            color: white;
                                                            font-size: 42px;
                                                            position: absolute;
                                                            top: 87%;
                                                        }
.asian {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(-50px);
}
    .asian h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 60px;
        font-size: 30px;
        z-index: 2;
    }
    .ramenOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;
        margin-top: -60px;
    }
    .ramenOrder:hover {
        transform: scale(1.1);
    }
    .ramenOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .ramenOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
       
    }
    .ramenOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 40px;
    }
    .phoOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;
        margin-top: -75px;
    }
    .phoOrder:hover {
        transform: scale(1.1);
    }
    .phoOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .phoOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
        margin-top: -10px;
    }
    .phoOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 35px;
    }
    img[src*="ramen"]{
        width: 290px;
        height: auto;             
    }
    img[src*="pho"] {
        width: 330px;
        height: auto;
    }
                                                        #mexican {  /*  in page mexican link  */
                                                            color: white;
                                                            font-size: 42px;
                                                            position: absolute;
                                                            top: 170%;
                                                        }
.mexican {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(-90px);
}
    .mexican h2 {
        text-align: center;
        width: 100%;
        font-size: 30px;
        z-index: 2;
    }
    .tacosOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;
        margin-top: -60px;
    }
    .tacosOrder:hover {
        transform: scale(1.1);
    }
    .tacosOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .tacosOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
       margin-top: 30px;
    }
    .tacosOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 40px;
    }
    .burritoOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;
        margin-top: -80px;
    }
    .burritoOrder:hover {
        transform: scale(1.1);
    }
    .burritoOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .burritoOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
        margin-top: -36px;
    }
    .burritoOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 35px;
    }
    img[src*="taco"]{
        width: 420px;
        height: auto;
        transform: translateX(15px);
    }
    img[src*="burrito"] {
        width: 260px;
        height: auto;
        margin-top: -50px;
        transform: translateX(-10px);
    }
                                                        #sides {  /*  in page sides link  */
                                                            color: white;
                                                            font-size: 42px;
                                                            position: absolute;
                                                            top: 240%;
                                                        }
.sides {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(-150px);
}
    .sides h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
        font-size: 30px;
    }
    .friesOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;

    }
    .friesOrder:hover {
        transform: scale(1.1);
    }
    .friesOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .friesOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
       margin-top: 30px;
    }
    .friesOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 40px;
    }
    .saladOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;       
    }
    .saladOrder:hover {
        transform: scale(1.1);
    }
    .saladOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .saladOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
        transform: translateY(22px);
    }
    .saladOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 60px;
    }
    img[src*="french"]{
        transform: scaleX(-1);
        width: 300px;
        height: auto;
        margin-left: 30px;
    }
    img[src*="salad"] {
        width: 345px;
        height: auto;
        transform: translateX(-15px) translateY(-10px);
    }
                                                        #drinks {  /*  in page drinks link  */
                                                            color: white;
                                                            font-size: 42px;
                                                            position: absolute;
                                                            top: 320%;
                                                        }
.drinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(-180px);
}
    .drinks h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
        font-size: 30px;
        z-index: 2;
    }
    .bobaOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;
        margin-top: -50px;
    }
    .bobaOrder:hover {
        transform: scale(1.1);
    }
    .bobaOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .bobaOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
       margin-top: 30px;
    }
    .bobaOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 40px;
    }
    .sodaOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: all .2s ease-out;
    }
    .sodaOrder:hover {
        transform: scale(1.1);
    }
    .sodaOrder:hover .popupOrder{
        transform: translateY(-40px);
        opacity: 1;
    }
    .sodaOrder span {
        text-align: center;
        width: 45%; 
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline;
        margin-top: -42px;
    }
    .sodaOrder p {
        text-align: center;
        width: 80%; 
        font-size: 18px;
        transform: translateY(-20px);
        margin-top: 42px;
    }
    img[src*="boba"]{
        width: 400px;
        height: auto;
        transform: translateX(10px) translateY(10px);
    }
    img[src*="soda"] {
        width: 190px;
        height: 270px;
        transform: translateY(-40px);
    }

/*       =================    MAIN BODY   ================     */


/*      ================== ITEM POPUPS  ===================    */
.popup {   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: lexend, sans-serif;
    display: none;  
}

.popupBase {
    background-color: white;
    border-radius: 18px;
    position: fixed;
    height: 630px;
    width: 800px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    overflow: scroll;
}

.closePop {
    background-color: white;
    border: 2px solid white;
    position: fixed;
    top: 5px;
    left: 10px;
    font-size: 33px;
    z-index: 12;
    height: 50px;
    width: 50px;
    text-align: center;
    font-weight: 700;
}

.closePop:hover {
    font-size: 34px;
    color: rgb(61, 61, 61);
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
}

.addCart { /* placeholder for now, edit once popup is done */
    position: absolute;
    bottom: 300px;
}

/*   ========================   BURGER POPUP SCREEN   =====================  */
.burgerScreen {
    display: none;
}
.burgerScreen .itemHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 1px solid red;
    background-color: rgb(213, 27, 27);
    color: white;
}
.burgerScreen .itemHeader h2 {  /* Item Name */
    height: 48px;
    font-size: 42px;
    margin-top: 8px;
}
.burgerScreen .itemHeader h3 { /* Price and Calories */
    margin-top: -22px;
    font-weight: 400;
}
.burgerScreen .itemHeader h5 { /* Description, delete if you decide to omit the description*/
    width: 30%;
    font-weight: 200;
    border: 1px solid red;
}
.burgerScreen .itemHeader h4 { /* Add to Favorites  */
    margin-top: -5px;
    cursor: pointer;
}
.burgerScreen .open {
    position: absolute;
    top: 16.1%;
    left: 37%;
    height: 27px;
    width: 27px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}
.burgerScreen .close {
    display: none;
    position: absolute;
    top: 16.1%;
    left: 37%;
    height: 27px;
    width: 27px;
    filter: invert(54%) sepia(89%) saturate(749%) hue-rotate(1deg) brightness(180%) contrast(104%);
    cursor: pointer;
}



/* delete */
.burgerScreen .closePop {
    background-color: rgb(213, 27, 27);
    border: 2px solid rgb(213, 27, 27);
    color: white;
    position: fixed;
    top: 5px;
    left: 10px;
    font-size: 33px;
    z-index: 12;
    height: 50px;
    width: 50px;
    text-align: center;
    font-weight: 700;
}




/*   ========================   BURGER POPUP SCREEN   =====================  */

/*   ========================   RIBS POPUP SCREEN   =====================  */
.ribsScreen {
    display: none;
}
.ribsScreen .itemHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.ribsScreen .itemHeader h2 {  /* Item Name */
    height: 48px;
    font-size: 42px;
    margin-top: 8px;
}
.ribsScreen .itemHeader h3 { /* Price and Calories */
    margin-top: -22px;
    font-weight: 400;
}
.ribsScreen .itemHeader h5 { /* Description, delete if you decide to omit the description*/
    width: 30%;
    font-weight: 200;
    border: 1px solid red;
}
.ribsScreen .itemHeader h4 { /* Add to Favorites  */
    margin-top: -5px;
    cursor: pointer;
}
.ribsScreen .open {
    position: absolute;
    top: 16.1%;
    left: 37%;
    height: 27px;
    width: 27px;
    cursor: pointer;
}
.ribsScreen .close {
    display: none;
    position: absolute;
    top: 16.1%;
    left: 37%;
    height: 27px;
    width: 27px;
    filter: invert(26%) sepia(87%) saturate(5270%) hue-rotate(337deg) brightness(92%) contrast(104%);
    /*filter: invert(54%) sepia(89%) saturate(749%) hue-rotate(1deg) brightness(180%) contrast(104%); gold color */
    cursor: pointer;
}

/*   ========================   RIBS POPUP SCREEN   =====================  */


/*      ================== ITEM POPUPS  ===================    */





 /*      =================     FOOTER ONLY    ==============   */
 .footer {
    position: relative;
    top: 7%;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
 }

.bottomLeft {
    color: rgb(24, 78, 131);
    width: 50%;
    border-top: 40px solid rgb(213, 27, 27);
    padding-left: 15px;
    font-weight: 600;
}
        .bottomLeft a {
            font-size: 18px;
        }
        .bottomLeft h6 {
            margin-top: 45px;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .bottomLeft span {
            display: inline-block;
            margin-right: 12px;
            margin-bottom: 15px;
            font-size: 12px;
        }
.bottomRight {
    border-top: 40px solid rgb(213, 27, 27);
    width: 50%;
    height: 193px;
    display: flex;
    width: 50%;
    justify-content: end;
    color: rgb(24, 78, 131);
}
        .family{
            transform: scale(.3);
            position: absolute;
            bottom: -30px;
            right: -70px;
            
        }
        .signUp {
            position: absolute;
            font-weight: 500;
            right: 225px;
            bottom: 50px;
        }

        .bottomRight a:hover {
            text-decoration: underline;
        }

        .logo2 {
            position: absolute;
            transform: scale(1.2);
            right: 40px;
            bottom: 35px;
        }

 /*      =================     FOOTER ONLY    ==============   */